.main-container {
    display: flex;
}

.left {
    background-color: #4A90E2;
    height: 100vh;
    width: 33.33vw;
}

.middle {
    background-color: #50E3C2;
    height: 100vh;
    width: 33.33vw;
}

.right {
    background-color: #BAE986;
    height: 100vh;
    width: 33.33vw;
}

footer{
    text-align: center;
    padding-top: 8vh;
    background-color: #D0021B;
    height: 20vh;
    width: 33.33vw;
    color: white;
    font-size: 1.5em;
    font-family: sans-serif;
    font-weight: 100;
    margin-top: 80vh;
}
